<html>
    <head>
        <title>
            GAN Digit Generator
        </title>
        <script type="text/javascript">
    </script>
    </head>
    <body>
        <h1 style="margin-top: 1%; text-align: center;font-size:200%;font-weight: bolder;">Hand Written Digit Generator Trained using Deep Generative Adversial Network</h1>
        <div style="margin-left: 5%; padding: 2%;align-items:center ;text-align: center;">
            <div style="margin-top:2% ;align-items: center;">
                <div style="padding: 3%;">
                    <button class="btn btn-success" onclick="handleImage()">Generate New!</button>
                </div>
                <iframe src={{url_for("generate")}} height="200" width="300"></iframe>
            </div>
            <footer><a href="https://github.com/suryachereddy/Tensorflow_MNIST_Web"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" style="height: 7%;"  alt="Github"></a> Check out the GitHub repository. (drop a star if you like the work)</footer>
        </div>
    
    </body>
</html>